@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --fc-today-bg-color: rgba(165, 42, 237, 0.15);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* STYLE DLA KALENDARZA */

/* Przycisk */
.fc .fc-button {
  @apply bg-purple-200 text-gray-800 px-3 py-1 rounded-md hover:bg-purple-400 active:bg-purple-800 transition;
}

/* Odstępy między przyciskami */
.fc .fc-button-group > .fc-button:not(:last-child) {
  margin-right: 1.5rem;
}

/* Tytuł - data*/
.fc .fc-toolbar-title {
  @apply text-3xl font-semibold text-gray-700 ml-5 mr-5;
}

/* Caly naglowek */
.fc .fc-toolbar {
  @apply mb-4 flex items-center justify-between;
}

/* duze kafelki */
.fc .fc-daygrid-day-frame {
  min-height: 160px;
}

/* odstęp pionowy między eventami w dayGrid */
.fc .fc-daygrid-event {
  margin: 18px 6px !important;
}

/* --- FullCalendar reset styli --- */

/* TLO event */
.fc .fc-daygrid-event {
  background: transparent !important;
  border: none !important;
}

/* Srodek eventu */
.fc .fc-event-main {
  background: transparent !important;
  border: none !important;
}

/* Hover i focus */
.fc .fc-daygrid-event:hover,
.fc .fc-daygrid-event:focus {
  background: transparent !important;
}
