@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --fc-today-bg-color: rgba(165, 42, 237, 0.15);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.fc .fc-button {
  @apply bg-purple-200 text-gray-800 px-3 py-1 rounded-md hover:bg-purple-400 active:bg-purple-800 transition;
}

.fc .fc-button-group > .fc-button:not(:last-child) {
  margin-right: 1.5rem;
}

.fc .fc-toolbar-title {
  @apply text-3xl font-semibold text-gray-700 ml-5 mr-5;
}

.fc .fc-toolbar {
  @apply mb-4 flex items-center justify-between;
}

.fc .fc-daygrid-day-frame {
  min-height: 160px;
}

.fc .fc-daygrid-event,
.fc .fc-event-main {
  background: transparent !important;
  border: none !important;
}

/* MOBILE */
@media (max-width: 768px) {
  .fc .fc-toolbar-title {
    font-size: 1.1rem;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    padding: 4px 0;
    flex-direction: column;
    gap: 4px;
  }

  .fc .fc-daygrid-day-number {
    font-size: 0.7rem;
    padding: 2px;
  }

  .fc .fc-daygrid-day-frame {
    padding: 2px;
  }

  .fc .fc-daygrid-body {
    min-height: 350px !important;
  }
}
